* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --dark-color: #1d1d1d;
  --main-color: #ffd829;
}
body {
  background: var(--dark-color);
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
/***** default elements *****/
.btn {
  border-radius: 0;
  cursor: pointer;
}
.btn:focus {
  box-shadow: none;
}
.btn-primary {
  color: #fff;
  background-color: transparent;
  border-color: var(--main-color);
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:hover {
  color: #fff;
  background-color: rgba(255, 216, 41, 0.15);
  border-color: rgba(255, 216, 41, 0.15);
}
.btn-primary:focus {
  background-color: rgba(255, 216, 41, 0.15);
  border-color: var(--main-color);
  box-shadow: none;
}
.capital-letter {
  font-size: 60px;
  color: var(--main-color);
}
/******** navbar ********/

.nav-bar {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  width: 70px;
  background: #181818;
}
.logo {
  display: block;
  background-color: black;
  padding: 5px 0 10px 0;
}
.logo::after {
  content: "LUKAS";
  display: block;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
}
.logo__image {
  display: block;
  width: 40px;
  height: 40px;
  margin: 9px auto;
}
.menu {
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  padding: 0;
  width: 100%;
  list-style: none;
  transform: translate(0, -50%);
}
.menu__item {
  display: block;
  position: relative;
  line-height: 60px;
  text-decoration: none;
}
.menu__link {
  font-size: 28px;
  color: #787878;
}
.menu__link:hover {
  color: #787878;
}
.menu__link::after {
  content: "";
  font-size: 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  letter-spacing: 2px;
  display: block;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  color: var(--main-color);
}
.menu__link i {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.menu__link:hover i {
  opacity: 0;
}
.menu__link:hover::after {
  opacity: 1;
}
.menu__item:first-child .menu__link::after {
  content: "HOME";
}
.menu__item:first-child + .menu__item .menu__link::after {
  content: "ABOUT";
}
.menu__item:first-child + .menu__item + .menu__item .menu__link::after {
  content: "SKILLS";
}
.menu__item:first-child
  + .menu__item
  + .menu__item
  + .menu__item
  .menu__link::after {
  content: "CONTACT";
}
.menu__link--active {
  color: var(--main-color);
}
.mobile-button {
  display: none;
}
.menu-icons {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 0;
  width: 100%;
  list-style: none;
}
.menu-icons__icon {
  display: block;
  line-height: 60px;
  font-size: 28px;
}
.menu-icons__link {
  color: #787878;
}
.menu-icons__link:hover {
  color: var(--main-color);
}
.menu_language{
 position: fixed;
 top: 7%;
 right: 1%;
 background: transparent;
  }
.language_button{
 background: #1D1D1C;
 color: #787878;
 border: #787878;
 outline:0!important;
  }
/******** header ********/
header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-size: cover;
  position: relative;
}
.header__content {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  box-shadow: 1px 1px 14px 0px #343a4094;
  padding: 62px;
}
.header__title {
  font-size: 60px;
  color: white;
  position: relative;
}
.header__title::before {
  content: "";
  width: 38%;
  height: 100%;
  background-color: var(--main-color);
  position: absolute;
  z-index: -1;
  top: 5%;
  left: 0;
}
.header__description {
  font-size: 40px;
  position: relative;
  display: inline-block;
  color: rgba(202, 202, 202, 0.39);
}
.header__description::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--main-color);
}
/******** about ********/
.about {
  border-top: 1px solid;
  height: auto;
  min-height: 100vh;
  display:flex;
  align-items:center;
  justify-content:center;
}
.about__title {
  display: inline-block;
  color: #8a8a8a;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.about__title::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid var(--main-color);
}
.about__description {
  flex: 1;
  color: white;
  padding: 25px;
  margin: 10px;
  background-color: rgba(76, 75, 69, 0.07);
}
/******** skills ********/
.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid;
  height: 100vh;
}
.skills__title {
  display: inline-block;
  color: #8a8a8a;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.skills__title:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid var(--main-color);
}
.skills__element {
  display: inline-block;
  padding: 8px 10px;
  background-color: #313131;
  color: #999;
  border-width: 1px 1px 2px 1px;
  border-style: solid;
  border-color: #222;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: MontSerrat, Tahoma, Arial, sans-serif;
  font-weight: 700;
  font-size: 0.75em;
  line-height: 1em;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
  margin: 3px;
  opacity: 1;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.skills_title {
  color:#787878
 }
.skills__element::after {
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  width: 0px;
  position: absolute;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  background-color: #515151;
}
.skills__element:hover::after {
  width: 100%;
  opacity: 0.2;
}
/******** contact ********/
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid;
  height: 80vh;
}
.contact__title {
  display: inline-block;
  font-size: 40px;
  color: #8a8a8a;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.contact__title:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid var(--main-color);
}
.form {
  width: 45%;
  margin: 0 auto;
}
.form-group:last-child {
  display: flex;
  justify-content: flex-end;
  /*text-align: right;*/
}
.form-group{
  display: block
}
.form-control {
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid var(--main-color);
}
.form-control:focus {
  color: white;
  background-color: rgba(255, 216, 41, 0.15);
  border-color: transparent;
  outline: none;
  box-shadow: none;
}
/******** footer ********/
.footer {
  background-color: rgba(255, 216, 41, 0.15);
}
.footer__title {
  display: block;
  color: white;
  padding: 10px;
}
/******** media-query********/
@media (max-width: 992px) {
  /******** nav-bar ********/
  .nav-bar {
    position: fixed;
    height: 70px;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background: #181818;
  }
  .menu__link::after{
    letter-spacing: 1px;
  }
  .logo {
    display: inline-block;
    padding: 9px 5px;
  }
  .logo__image {
    display: block;
    margin: 5px 14px;
    height: 25px;
    width: auto;
  }
  .menu {
    width: 61%;
    left: 30%;
    margin-left: -15%;
    margin-bottom: 0;
    overflow-x: hidden;
    transition: all 0.4s ease;
  }
  .menu__item {
    display: inline-block;
    margin-left: 12%;
    line-height: 67px;
  }
  .menu-icons {
    width: 20%;
    left: 80%;
    list-style: none;
    margin: 0;
    transition: all 0.4s ease;
  }
  .menu-icons__icon {
    display: inline-block;
    margin-left: 9%;
    line-height: 71px;
  }
  /******** header ********/
  .header__content {
    padding: 45px;
  }
  .header__title {
    font-size: 50px;
  }
  /******** contact ********/
  .form {
    width: 80%;
  }
}
@media (max-width: 578px) {
  /******** nav-bar ********/
  .menu {
    position: fixed;
    top: 100px;
    left: -100%;
    width: 100%;
    margin-left: 0;
    background: #181818;
    overflow-x: hidden;
    opacity: 0;
    transition: all 0.4s ease;
  }
  .menu.menu--show {
    left: 0;
    opacity: 1;
  }
  .mobile-button {
    font-size: 28px;
    color: #fff;
    margin: 10px 20px 10px 10px;
    display: block;
    float: right;
  }
  .mobile-button:hover {
    color: #007bff;
    cursor: pointer;
  }
  .menu-icons {
    display: none;
  }
  /******** header ********/
  .header {
    height: 90vh;
  }

  .header__content {
    padding: 30px;
  }
  .header__title {
    font-size: 30px;
  }
  .header__description {
    font-size: 20px;
  }
  /******** contact ********/
  .form {
    width: 100%;
  }
  .contact__title,
  .about__title,
  .skills__title {
    font-size: 2rem;
    letter-spacing: 2px;
  }
  .skills__title{
    padding: 130px 0 0 0;
  }
}
 /******** about ********/
/*.about{
    height: 70vh;
   }*/
.about__description::before {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 51px;
  background: var(--main-color);
}
.about__description::after {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: var(--main-color);
}
.about__description:nth-child(1)::before, .about__description:nth-child(4)::before {
  left: 19px;
  top: 6px;
}
.about__description:nth-child(1):after, .about__description:nth-child(4)::after {
  top: 6px;
  left: 19px;
}
.about__description:nth-child(2)::before, .about__description:nth-child(3)::before {
  bottom: 0px;
  right: 18px;
}
.about__description:nth-child(2):after, .about__description:nth-child(3):after {
  bottom: 0px;
  right: 18px;
}
